:root {
    --white: #ffffff;
    --gray: #f5f5f5;
    --darkblue: #3a86ff;
    --offblack: #01161e;  
}

h1 {
    text-align: center;
    padding-bottom: 40px;
}

h2 {
    text-align: center;
    text-decoration: underline;
}


/*Main grid cotnainer, logo, and OJT record for box*/
.grid-container {
    display: grid;
    grid-template-columns: 40% 60%;
}

.logo {
    display: block;
    width: 250px;
    height: auto;
    margin: -98px  0 10px 0px;
    padding-left: 50px;
}

.input-groups {
    display: flex;
    flex-direction: column;
}

.input-groups.standalone {
    width: 100%;
    align-items: center;
}

.input-groups.standalone input {
    width: 270px;
}

.flex-input-fields {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    padding: 0px 0px 30px 0px;
    margin: 0px 0px 20px 18px;
    background-color: var(--gray);
    border-radius: 10px;
    box-shadow: 10px 5px 10px 1px rgba(0,0,0,0.3);
    width: 80%;
    
}

/*Childcare logo and campus info*/

.childcare-logo {
    display: block;
    margin: 0 auto;
    position: relative;
    right: 70px
}

.contact-row {
    display: flex;
    gap: 12%;
    align-items: center;
    justify-content: center;
    padding-right: 20%
}

.contact-h3 {
    font-size: 22px;
    line-height: .85;
    font-weight: 450;
}

.h4-group {
    text-align: center;
    position: relative;
    right: 8.5%;
    line-height: .1;
}



/*Work process schedule*/

.timecard-hours li .show-ol{
    display: flex;
    justify-content: space-between;
    padding-right: 140px;
    line-height: 1.7;
}

.show-ol {
    padding-left: 2px;
}


/*Input boxes for timecard*/

.input-boxes {
    height: 40px;
    border-radius: 8px;
    font-size: 17px;
}

.input-boxes::placeholder {
    font-size: 15px;
    padding-left: 4px;
}

input[placeholder="hours worked"] {
    border-radius: 5px;
    height: 20px
} 

/*Print*/

.controls {
    display: flex;
    justify-content: space-between;
}

.print-div {
    display: flex;
    gap: 20px;
}

.print-button {
    display: flex;
    align-items: center;
    gap: 8px;
    font-size: 16px;
    padding: 10px 20px;
    font-weight: bold;
    border-radius: 5px;
    cursor: pointer;
    border: none;
    color: var(--white);
    background-color: var(--offblack)
}

/*Clear Button*/

#clearBtn {
    color: var(--white);
    background-color: var(--darkblue);
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    font-weight: bold;
    font-size: 16px;
    cursor: pointer;
}

@media only screen and (max-width: 1580px) {
    .grid-container {
        display: flex;
        flex-direction: column;
    }


.logo {
    margin: 20px auto;
    padding-left: 0;
}

.flex-input-fields {
    margin: 0 auto;
}

.childcare-logo {
    right: 0;
    margin-top: 20px;
}

.contact-row {
    padding: 0;
    justify-content: center;
}

.h4-group {
    right: 0;
}

.timecard-hours li .show-ol {
        padding-right: 30px; 
        align-items: center;
    }

   

}

/*Print Section*/
 @media print {
.controls {
    display: none !important;
}

body {
    margin: 0.5in !important;
}

table {
    width: 100% !important;
    font-size: 9pt !important
}

th, td {
    padding: 4px !important;
    text-align: right !important;
}

.flex-input-fields {
    box-shadow: none !important;
}


  }